* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #272822;
  color: f6f6f6;
}
.container {
  margin: 2rem;
  background-color: #272822;
  width: 97%;
  max-height: 89vh;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #f6f6f6;
  gap: 15px;
}
button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: 1px solid #303030;
  background-color: #272822;

  outline: none;
  color: #f6f6f6;
}

select {
  padding: 7px;

  border-radius: 3px;
  color: #f6f6f6;
  border: 1px solid #303030;
  background-color: #272822;
}
.options label,
.options select {
  font-family: "Poppins", sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 28px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #fff 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #fff 0 0 0 3px #020929;
}

#text-input {
  border: 1px solid #303030;
  padding: 20px;
  width: 100%;
  min-width: 800px; /* Adjust this value as needed */
  height: 100vh;
  outline: none;
  color: #f6f6f6;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
}

.active {
  background-color: #272822;
}
.grid {
  display: flex;
  position: absolute;
  top: 7rem;
}
.title-container {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem;
}
.text-box {
  font-size: 2rem;
  background-color: #272822;
  color: #f6f6f6;
  outline: none;
  width: 7rem;
}
.option-button:hover {
  background: #e53e5f77;
  /* e53e5f */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%; /* Ensure the navbar spans the entire width of the viewport */
  /* background-color: #e53e5f; */
  background-color: #272822;
  padding: 0.5rem;
  z-index: 1000; /* Ensure the navbar appears above other content */
}
.adv-option-button {
  border: 1px solid #303030;
}
.titles {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: context-menu;
  color: #f6f6f6;
}
.titles:hover {
  border: 1px solid black;
  border-radius: 2px;
  height: 41px;
}

.navbar {
  display: flex;
  align-items: center;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.hamburger {
  cursor: pointer;
  color: #f6f6f6;
}
.show {
  position: absolute;
  top: 3.5rem;
  margin: 1rem;
  color: #f6f6f6;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #f6f6f6;
  margin: 4px 0;
  transition: 0.4s;
}

.open {
  background-color: transparent;
}

.sidebar {
  position: fixed;
  top: 4rem;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #ebd1d6;
  transition: 0.4s;
}

.sidebar.open {
  left: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  color: #272822;
  cursor: pointer;
}

li:hover {
  background-color: #e53e5f;
}
.button:hover {
  color: #e53e5f; /* Change text color to #E53E5F */
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #f6f6f6;
  margin: 4px 0;
  transition: all 0.3s ease-in-out; /* Add smooth transition */
}
.bar:hover {
  transform: scaleX(1.5); /* Scale up the line on hover */
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 2.5rem;
  border: 1px solid #303030;
  border-radius: 5px;
  padding: 0.5rem;
  height: 200px;

  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
  flex-wrap: wrap;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Change the shadow on hover for a beautiful effect */
}
.grid {
  display: flex;

  flex-wrap: wrap;
}
.addDiv {
  align-items: center;
  justify-content: center;
}
.addDiv i {
  font-size: 150px;
  color: #232323;
}

/* .delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e53e5f;
  width: 25px;
  height: 25px;
  border-radius: 50%;
} */
.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e53e5f00;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.deleteContainer {
  top: 10rem;
  display: flex;
  justify-content: end;
  align-items: end;
  position: absolute;
  display: flex;
  right: 7px;
  bottom: 7px;
  z-index: 100;
}
.delete:hover {
  background-color: #e53e5f;
}

/* this is for the 404 error page */

#oopss {
  background: linear-gradient(-45deg, #fff300, #efe400);
  position: fixed;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  z-index: 9999;
}
#oopss #error-text {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Shabnam", Tahoma, sans-serif;
  color: #000;
  direction: rtl;
}
#oopss #error-text img {
  margin: 85px auto 20px;
  height: 342px;
}
#oopss #error-text span {
  position: relative;
  font-size: 3.3em;
  font-weight: 900;
  margin-bottom: 50px;
}
#oopss #error-text p.p-a {
  font-size: 19px;
  margin: 30px 0 15px 0;
}
#oopss #error-text p.p-b {
  font-size: 15px;
}
#oopss #error-text .back {
  background: #fff;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  margin: 2em auto 0;
  padding: 0.7em 2em;
  border-radius: 500px;
  box-shadow: 0 20px 70px 4px rgba(0, 0, 0, 0.1), inset 7px 33px 0 0px #fff300;
  font-weight: 900;
  transition: all 300ms ease;
}
#oopss #error-text .back:hover {
  -webkit-transform: translateY(-13px);
  transform: translateY(-13px);
  box-shadow: 0 35px 90px 4px rgba(0, 0, 0, 0.3), inset 0px 0 0 3px #000;
}

@font-face {
  font-family: Shabnam;
  src: url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.eot");
  src: url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.woff")
      format("woff"),
    url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.woff2")
      format("woff2"),
    url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.ttf")
      format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Shabnam;
  src: url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.eot");
  src: url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.woff")
      format("woff"),
    url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.woff2")
      format("woff2"),
    url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.ttf")
      format("truetype");
  font-weight: normal;
}
