* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
}
.container {
  margin: 2rem;
  background-color: #f6f6f6;
  width: 97%;
  max-height: 89vh;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  outline: none;
  color: #020929;
}

select {
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 3px;
}
.options label,
.options select {
  font-family: "Poppins", sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 28px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #fff 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #fff 0 0 0 3px #020929;
}

#text-input {
  border: 1px solid #dddddd;
  padding: 20px;
  width: 100%;
  min-width: 800px; /* Adjust this value as needed */
  height: 100vh;
  outline: none;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
}

.active {
  background-color: #e0e9ff;
}

.title-container {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem;
}
.text-box {
  font-size: 2rem;
  width: 7rem;
}
.option-button:hover {
  background: #e53e5f77;
  /* e53e5f */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%; /* Ensure the navbar spans the entire width of the viewport */
  /* background-color: #e53e5f; */
  background-color: #f6f6f6;
  padding: 0.5rem;
  z-index: 1000; /* Ensure the navbar appears above other content */
}
.titles {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: context-menu;
}
.titles:hover {
  border: 1px solid black;
  border-radius: 2px;
  height: 41px;
}

.navbar {
  display: flex;
  align-items: center;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.hamburger {
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.open {
  background-color: transparent;
}

.sidebar {
  position: fixed;
  top: 4rem;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #ebd1d6;
  transition: 0.4s;
}

.sidebar.open {
  left: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  color: #272822;
  cursor: pointer;
}

li:hover {
  background-color: #e53e5f;
}
.button:hover {
  color: #e53e5f; /* Change text color to #E53E5F */
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: all 0.3s ease-in-out; /* Add smooth transition */
}
.bar:hover {
  transform: scaleX(1.5); /* Scale up the line on hover */
}
